version: 1
disable_default_loggers: false

loggers:
  __main__:
    level: INFO
    handlers: [nemo_action]

handlers:
  nemo_action:
    level: INFO
    class: logging.handlers.RotatingFileHandler
    filename: /home/philipp/programmieren/move_if_no_gps_data/.nemo_action.log.json
    formatter: json
    # 1 MB
    maxBytes: 1000000 
    backupCount: 2
  console:
    level: INFO
    class: logging.StreamHandler
    formatter: json
    stream: stdout

# filters: {}

formatters:
  json:
    "()": pythonjsonlogger.json.JsonFormatter
    fmt: "{levelname} {message} {asctime} {pathname} {funcName}"
    style: "{"
    json_ensure_ascii: false
    json_indent: 4


# vim: filetype=yaml
